@import "src/app/core/scss/fuse";

.row-align{
  display: flex;
  flex-direction: row;
}

.marging-b-t-5{
  margin-bottom: 5px;
  margin-top: 5px;
}
.pr-5 {
  padding-right: 10px;
}
.pl-5 {
 padding-left: 10px;
}
