<div id="device" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->
  <!-- CENTER -->
  <div class="center">
    <!-- HEADER -->
    <div class="header white-fg" fxLayout="row" fxLayoutAlign="space-between center">
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom>
          <div class="h2">
            {{'WALLET.SPENDING_RULE' | translate}}
          </div>
          <div class="subtitle secondary-text" *ngIf="false">
            <span>{{'USER.USER_DETAIL' | translate}}</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div id="content" class="content-card mat-white-bg">
      <form style="overflow: auto;" name="manualBalanceAdjustmentsForm" [formGroup]="settingsForm" class=" user w-100-p"
        fxLayout="row wrap" class="mat-white-bg p-24 m-24">

        <!-- BASIC SPENDING RULES STTRIBUTES -->
        <mat-form-field class="pr-5 pl-5" fxFlex="100" fxFlex.gt-xs="50">
          <input matInput placeholder="{{ 'SPENDING_RULE.BUSINESS_ID'  | translate }}" formControlName="businessId" required>
        </mat-form-field>
        <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
          <input matInput placeholder="{{ 'SPENDING_RULE.BUSINESS_NAME'  | translate }}" formControlName="businessName"
            required>
        </mat-form-field>
        <mat-form-field fxFlex="100" fxFlex.gt-xs="50">
          <input matInput placeholder="{{ 'SPENDING_RULE.MIN_OPERATION_AMOUNT'  | translate }}" formControlName="minOperationAmount"
            required type="number" value="{{ settingsForm.value.minOperationAmount }}" >
        </mat-form-field>
        <!-- BASIC SPENDING RULES STTRIBUTES -->

        <!-- <div fxFlex="100" fxLayoutAlign="center center">
            <span fxLayoutAlign="center center">  </span>
        </div> -->
        <div fxFlex="100" class="marging-b-t-5">
          <div fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
              <mat-icon class="m-0 mr-16">monetization_on</mat-icon>
              <div fxHide fxShow.gt-xs class="h2 secondary-text center-text">{{'WALLET.UTILITIES_BY_PRODUCT' | translate}}</div>
              <div fxShow fxHide.gt-xs class="h3 secondary-text center-text">{{'WALLET.UTILITIES_BY_PRODUCT' | translate}}</div>
            </div>

            <div fxFlex="10" fxLayoutAlign="center center">
              <button mat-mini-fab (click)="addProductSetting()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
        </div>
        <!-- SETTINGS BY PRODUCT -->
        <!-- <mat-card>Simple card</mat-card> -->
          <div *ngFor="let item of settingsForm.get('productBonusConfigs')['controls']; let i = index;" fxFlex="100"
            formArrayName="productBonusConfigs">
            <div class="border" [formGroupName]="i" fxFlex="100" fxLayout="row wrap">
              <!-- TYPE -->
              <mat-form-field class="pr-5 pl-5" fxFlex="100" fxFlex.gt-xs="18">
                <input matInput formControlName="type" placeholder="{{'SPENDING_RULE.TYPE' | translate}}">
              </mat-form-field>
              <!-- TYPE -->

              <!-- CONCEPT -->
              <mat-form-field class="pr-5 pl-5" fxFlex="100" fxFlex.gt-xs="18">
                <input matInput formControlName="concept" placeholder="{{'SPENDING_RULE.CONCEPT' | translate}}">
              </mat-form-field>
              <!-- CONCEPT -->

              <!-- BONUS TYPE -->
              <mat-form-field class="center-text pr-5 pl-5" fxFlex="100" fxFlex.gt-xs="18">
                <mat-select formControlName="bonusType" placeholder="{{'SPENDING_RULE.BONUS_TYPE' | translate}}">
                  <mat-option *ngFor="let bonusType of ['PERCENTAGE', 'FIXED']" [value]="bonusType">
                    {{ 'WALLET.' + bonusType | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- BONUS TYPE -->

              <!-- BONUS VALUE BY BALANCE -->
              <mat-form-field class="pr-5 pl-5" fxFlex="50" fxFlex.gt-xs="20">
                <input myCurrencyFormatter type="number" matInput formControlName="bonusValueByBalance"
                placeholder="{{'SPENDING_RULE.PERCETAGE_WITH_BALANCE' | translate}}">
                <!-- value="{{  }}" -->
              </mat-form-field>
              <!-- BONUS VALUE BY BALANCE -->

              <!-- BONUS VALUE BY BALANCE -->
              <mat-form-field class="pr-5 pl-5" fxFlex="50" fxFlex.gt-xs="20">
                <input type="number" matInput formControlName="bonusValueByCredit" placeholder="{{'SPENDING_RULE.PERCENTAGE_WITH_CREDIT' | translate}}"
                >
              </mat-form-field>
              <!-- BONUS VALUE BY BALANCE -->
              <div *ngIf="currentVersion" fxFlex="100" fxFlex.gt-xs="6" fxLayoutAlign="center center">
                <button mat-icon-button (click)="deleteControl('productBonusConfigs', i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>

            </div>
          </div>
        <!-- SETTINGS BY PRODUCT -->

        <!-- <div fxFlex="100" fxLayoutAlign="center center">
            <span fxLayoutAlign="center center">  </span>
        </div> -->
        <div fxFlex="100" class="marging-b-t-5">
          <div fxFlex="90" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="m-0 mr-16">dehaze</mat-icon>
            <div fxHide fxShow.gt-xs class="h2 secondary-text center-text">{{'WALLET.AUTO_WALLET_SELLECTION' | translate}}</div>
            <div fxShow fxHide.gt-xs class="h3 secondary-text center-text">{{'WALLET.AUTO_WALLET_SELLECTION' | translate}}</div>
          </div>

          <div fxFlex="10" fxLayoutAlign="center center">
            <button mat-mini-fab (click)="addAutoPocketSelectionRule()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
        </div>

        <!-- AUTOPOCKET SELLECTION SETTINGS -->
          <div *ngFor="let item of settingsForm.get('autoPocketSelectionRules')['controls']; let i = index;" fxFlex="100"
            formArrayName="autoPocketSelectionRules" class="border">
            <div [formGroupName]="i" fxFlex="100" fxLayout="row wrap" fxLayoutAlign="space-between stretch"  >
              <!-- PRIORITY -->
              <mat-form-field class="center-text pr-5 pl-5" fxFlex="30" fxFlex.gt-xs="10">
                <input matInput type="number" formControlName="priority" placeholder="{{'SPENDING_RULE.PRIORITY' | translate}}">
              </mat-form-field>
              <!-- PRIORITY -->

              <!-- POCKET TO USE -->
              <mat-form-field class="center-text pr-5 pl-5" fxFlex="70" fxFlex.gt-xs="20">
                <mat-select formControlName="toUse" placeholder="{{ 'SPENDING_RULE.POCKET' | translate}}">
                  <mat-option  *ngFor="let pocket of ['BALANCE', 'BONUS']" class="center-text" [value]="pocket">
                    {{ 'WALLET.' + pocket | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- POCKET TO USE -->

              <div fxFlex="100" fxFlex.gt-xs="15" class="pr-5 pl-5" fxLayoutAlign="center center">
                  <p class="center-text"> {{ 'SPENDING_RULE.WHEN' | translate}} </p>
              </div>

              <!-- POCKET -->
              <mat-form-field class="center-text pr-5 pl-5" fxFlex="100" fxFlex.gt-xs="20">
                <mat-select formControlName="pocket" placeholder="{{'SPENDING_RULE.POCKET' | translate}}">
                  <mat-option *ngFor="let pocket of ['BALANCE', 'BONUS']" [value]="pocket">
                    {{ 'WALLET.' + pocket | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- POCKET -->

              <!-- COMPARATOR -->
              <mat-form-field class="center-text pr-5 pl-5" fxFlex="100" fxFlex.gt-xs="15">
                <mat-select formControlName="comparator" placeholder="{{'SPENDING_RULE.COMPARATOR' | translate}}">
                  <mat-option *ngFor="let comparator of ['LT', 'GT', 'LTE', 'GTE', 'ENOUGH']"
                    [value]="comparator" class="center-text" >
                    {{ 'WALLET.' + comparator | translate}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <!-- COMPARATOR -->

              <!-- VALUE -->
              <mat-form-field *ngIf="settingsForm.get('autoPocketSelectionRules')['controls'][i]['value']['comparator'] != 'ENOUGH'"
                class="center-text pr-5 pl-5" fxFlex="100" fxFlex.gt-xs="15">
                <input type="number" matInput formControlName="value" placeholder="{{'SPENDING_RULE.VALUE' | translate}}"
                  [value]="settingsForm.controls['autoPocketSelectionRules']['controls'][i].controls.value.value">
                <!-- value="{{  }}" -->
              </mat-form-field>
              <!-- VALUE -->

              <div *ngIf="currentVersion" class="pr-5 pl-5" fxFlex="100" fxFlex.gt-xs="5" fxLayoutAlign="center center">
                <button mat-icon-button (click)="deleteControl('autoPocketSelectionRules', i)">
                  <mat-icon>delete</mat-icon>
                </button>
              </div>
            </div>
          </div>
        <!-- AUTOPOCKET SELLECTION SETTINGS -->

        <!-- BUTTONS -->
        <div style="margin-top: 10px" fxHide fxShow.gt-xs fxFlex="100" fxFlexLayout="row">
          <div fxFlex="50" fxLayoutAlign="start center">
            <button class="mr-24"  mat-raised-button [disabled]="settingsForm.errors" (click)="saveSpendingRule()"> {{ 'SAVE' | translate }} </button>
            <button  mat-raised-button color="primary" (click)="undoChanges()"> {{ 'UNDO' | translate}} </button>
          </div>
          <div fxFlex="50"></div>
        </div>

        <div  style="margin-top: 10px" fxShow fxHide.gt-xs fxFlex="100" fxFlexLayout="row" fxLayoutAlign="space-evenly center">
          <button  mat-raised-button [disabled]="settingsForm.errors" (click)="saveSpendingRule()"> {{ 'SAVE' | translate }} </button>
          <button  mat-raised-button color="primary" (click)="undoChanges()"> {{ 'UNDO' | translate}} </button>
        </div>
        <!-- BUTTONS -->
      </form>
    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->
</div>
