<div id="user" class="page-layout carded fullwidth" fusePerfectScrollbar>
  <!-- TOP BACKGROUND -->
  <div class="top-bg mat-accent-bg"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">
    <!-- HEADER BUSINESS -->
    <div
      class="header white-fg"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">
        <button
          class="mr-0 mr-sm-16"
          mat-icon-button
          [routerLink]="'/wallet/transaction-history'"
        >
          <mat-icon>arrow_back</mat-icon>
        </button>

        <div fxLayout="column" fxLayoutAlign="start start" *fuseIfOnDom>
          <label for="search" style="margin-bottom: 10px" class="mr-20">
            <span class="mat-title">{{
              "WALLET.TRANSACTION_HISTORY_DETAIL" | translate
            }}</span>
          </label>
          <div class="subtitle" *ngIf="selectedBusiness">
            {{ selectedBusiness.name }}
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->
    </div>
    <!-- / HEADER BUSINESS -->

    <!-- CONTENT CARD -->
    <div class="content-card mat-white-bg">
      <mat-tab-group>
        <mat-tab label="{{'WALLET.INFO' | translate}}">

            <div class="tab-content p-24" fxLayout="column" fusePerfectScrollbar>

                <form name="transactionHistoryForm" *ngIf="selectedTransactionHistory" class="transaction_history w-100-p" fxLayout="column" class="mat-white-bg p-24 mr-24">

                  <mat-form-field class="w-100-p">
                    <input matInput disabled placeholder="{{'WALLET.TRANSACTION_ID' | translate}}" value="{{selectedTransactionHistory._id}}">
                  </mat-form-field>

                  <mat-form-field class="w-100-p">
                    <input matInput disabled placeholder="{{'WALLET.TRANSACTION_TIMESTAMP' | translate}}" value="{{selectedTransactionHistory.timestamp}}">
                  </mat-form-field>

                  <mat-form-field class="w-100-p">
                      <input matInput disabled placeholder="{{'WALLET.TRANSACTION_TYPE' | translate}}" value="{{selectedTransactionHistory.type}}">
                    </mat-form-field>

                    <mat-form-field class="w-100-p">
                        <input matInput disabled placeholder="{{'WALLET.TRANSACTION_CONCEPT' | translate}}" value="{{selectedTransactionHistory.concept}}">
                    </mat-form-field>

                    <mat-form-field class="w-100-p" *ngIf="selectedTransactionHistory.terminal">
                        <input matInput disabled placeholder="{{'WALLET.TRANSACTION_TERMINAL_ID' | translate}}" value="{{selectedTransactionHistory.terminal.id}}">
                    </mat-form-field>

                    <mat-form-field class="w-100-p" *ngIf="selectedTransactionHistory.terminal">
                        <input matInput disabled placeholder="{{'WALLET.TRANSACTION_TERMINAL_USER_ID' | translate}}" value="{{selectedTransactionHistory.terminal.userId}}">
                    </mat-form-field>

                    <mat-form-field class="w-100-p" *ngIf="selectedTransactionHistory.terminal">
                        <input matInput disabled placeholder="{{'WALLET.TRANSACTION_TERMINAL_USERNAME' | translate}}" value="{{selectedTransactionHistory.terminal.username}}">
                    </mat-form-field>

                </form>

                <mat-table id="associated-transactions-history-table" class="item-table p-24 mr-24 mb-24"  #table [dataSource]="dataSource">

                    <!-- Timestamp Column -->
                    <ng-container cdkColumnDef="timestamp">
                      <mat-header-cell *cdkHeaderCellDef>{{'WALLET.TIMESTAMP' | translate}}</mat-header-cell>
                      <mat-cell *cdkCellDef="let transaction">
                        <p class="text-truncate">{{transaction.timestamp | date: 'dd/MM/y HH:mm:ss'}}</p>
                      </mat-cell>
                    </ng-container>

                    <!-- From Column -->
                    <ng-container cdkColumnDef="type">
                      <mat-header-cell *cdkHeaderCellDef>{{'WALLET.TRANSACTION_TYPE' | translate}}</mat-header-cell>
                      <mat-cell *cdkCellDef="let transaction">
                        <p class="text-truncate">{{'WALLET.TYPES.'+transaction.type | translate}}</p>
                      </mat-cell>
                    </ng-container>

                    <!-- Concept Column -->
                    <ng-container cdkColumnDef="concept">
                      <mat-header-cell *cdkHeaderCellDef>{{'WALLET.TRANSACTION_CONCEPT' | translate}}</mat-header-cell>
                      <mat-cell *cdkCellDef="let transaction">
                        <p class="text-truncate">{{'WALLET.CONCEPTS.'+transaction.concept | translate}}</p>
                      </mat-cell>
                    </ng-container>

                    <!-- Value Column -->
                    <ng-container cdkColumnDef="value">
                      <mat-header-cell *cdkHeaderCellDef>{{'WALLET.TRANSACTION_VALUE' | translate}}</mat-header-cell>
                      <mat-cell *cdkCellDef="let transaction">
                        <p class="text-truncate">{{transaction.value | currency}}</p>
                      </mat-cell>
                    </ng-container>

                    <!-- Pocket Column -->
                    <ng-container cdkColumnDef="pocket">
                      <mat-header-cell *cdkHeaderCellDef>{{'WALLET.TRANSACTION_POCKET' | translate}}</mat-header-cell>
                      <mat-cell *cdkCellDef="let transaction">
                        <p class="text-truncate">{{'WALLET.'+transaction.pocket | translate}}</p>
                      </mat-cell>
                    </ng-container>

                    <!-- User Column -->
                    <ng-container cdkColumnDef="user">
                      <mat-header-cell *cdkHeaderCellDef>{{'WALLET.TRANSACTION_USER' | translate}}</mat-header-cell>
                      <mat-cell *cdkCellDef="let transaction">
                        <p class="text-truncate">{{transaction.user}}</p>
                      </mat-cell>
                    </ng-container>

                    <mat-header-row *cdkHeaderRowDef="displayedColumns"></mat-header-row>

                    <mat-row *cdkRowDef="let transaction; columns: displayedColumns;" class="transactions"
                    (click)="selectTransactionHistoryRow(transaction)" [ngClass]="{'highlight': selectedTransactionHistory && selectedTransactionHistory._id == transaction._id}"
                    [routerLink]="['../', '9'+transaction._id]" matRipple>
                    </mat-row>

                  </mat-table>

            </div>

        </mat-tab>
      </mat-tab-group>
    </div>
    <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>
